* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

i {
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: black;
  font-size: 0.1rem;
}

header .header__title--left span {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: white;
}

header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  padding: 7px;
  border: black solid 1px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__title--left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 60px;
}

.header__title--right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  padding: 6px;
  border: black solid 1px;
}

.nav__list {
  font-size: 0.9rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.nav__menu--abrir {
  display: none;
}

.nav__menu--cerrar {
  display: none;
}

.nav__list li a {
  color: white;
}
.nav__list li a:hover {
  color: #45e052;
}

@media (max-width: 875px) {
  nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: black;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5058823529);
    position: fixed;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
  }
  .nav__menu--abrir,
  .nav__menu--cerrar {
    display: block;
    border: 0;
    font-size: 25px;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  .logo {
    height: 45px;
  }
}
@media (max-width: 347px) {
  header .header__title--left span {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }
}
footer {
  background-color: black;
  color: white;
  height: max-content;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.footer__socialnt span {
  display: none;
}

.footer__socialnt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.footer__socialnt h3 {
  font-size: 1.1rem;
  width: max-content;
}
.footer__socialnt ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}
.footer__socialnt ul li div a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.footer__socialnt ul li div a img {
  width: 40px;
  height: 40px;
}

.footer__aboutus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vw;
}
.footer__aboutus h3 {
  font-size: 1.2rem;
}
.footer__aboutus p {
  font-size: 1rem;
}
.footer__aboutus p a {
  color: blue;
  text-decoration: underline blue;
}

.footer__qr {
  display: none;
}

@media (min-width: 500px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 50px;
    padding: 15px;
  }
  .footer__socialnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px white solid;
    padding-right: 50px;
  }
  .footer__socialnt ul {
    display: flex;
    flex-direction: column;
  }
  .footer__socialnt span {
    display: flex;
    color: white;
    font-size: 0.8rem;
  }
  .footer__aboutus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
}
@media (min-width: 1024px) {
  footer {
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
  }
  .footer__socialnt {
    border-right: white 3px solid;
    height: 208px;
    padding: 0;
    padding-right: 5vw;
  }
  .footer__socialnt h3 {
    font-size: 1.2rem;
  }
  .footer__socialnt span {
    font-size: 1rem;
    color: white;
  }
  .footer__aboutus {
    width: 50vw;
    border-right: white solid 3px;
    height: 208px;
    padding: 0;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-left: 0;
  }
  .footer__aboutus h3 {
    font-size: 1.5rem;
  }
  .footer__aboutus p {
    font-size: 1.2rem;
  }
  .footer__qr {
    width: 250px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 2vw;
  }
  .footer__qr img {
    height: 140px;
    width: 140px;
  }
  .footer__qr span {
    width: 250px;
    text-align: center;
  }
}
@keyframes mov-robot {
  0% {
    transform: translate(0px, -280px);
  }
  25% {
    transform: scale(4) translate(0px, 0px);
  }
  50% {
    transform: scale(4) translate(0px, 0px);
  }
  75% {
    transform: scale(4) translate(0px, 0px);
  }
  90% {
    transform: scale(4) translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -400px);
  }
}
.robot {
  position: absolute;
  top: 250px;
  left: 70px;
  width: 7%;
  animation: both;
  animation-name: mov-robot;
  animation-duration: 8s;
  animation-timing-function: linear;
}

@keyframes mov-speak {
  0% {
    transform: translate(0px, -150px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -150px);
  }
}
.robot__speak {
  width: 50vw;
  position: absolute;
  top: 70px;
  left: 120px;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  animation: both;
  animation-name: mov-speak;
  animation-duration: 8s;
  animation-timing-function: linear;
}
.robot__speak span {
  font-size: 1rem;
}

@keyframes mov-bubble {
  0% {
    transform: translate(0px, -150px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -150px);
  }
}
@keyframes mov-bubble1 {
  0% {
    transform: translate(0px, -150px);
    background-color: #ffffff;
  }
  25% {
    transform: translate(0px, 0px);
  }
  30% {
    background-color: #524f4f;
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  90% {
    transform: translate(0px, 0px);
    background-color: #524f4f;
  }
  95% {
    background-color: #524f4f;
  }
  100% {
    transform: translate(0px, -150px);
  }
}
.robot__speak--bubble {
  background-color: white;
  position: absolute;
  top: 180px;
  left: 120px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  animation: both;
  animation-name: mov-bubble;
  animation-duration: 8s;
  animation-timing-function: linear;
}

.robot__speak--bubble1 {
  position: absolute;
  top: 185px;
  left: 100px;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  animation: both;
  animation-name: mov-bubble1;
  animation-duration: 8s;
  animation-timing-function: linear;
}

.hidden {
  visibility: hidden;
}

@keyframes background-degraded {
  30% {
    background-color: #524f4f;
  }
  100% {
    background-color: #524f4f;
  }
}
.main {
  animation-name: background-degraded;
  animation-duration: 8s;
}

@media (min-width: 350px) {
  .robot {
    position: absolute;
    top: 230px;
  }
  .robot__speak {
    position: absolute;
    top: 70px;
  }
  .robot__speak--bubble {
    position: absolute;
    top: 160px;
  }
  .robot__speak--bubble1 {
    position: absolute;
    top: 165px;
  }
}
@media (min-width: 431px) {
  .robot {
    position: absolute;
    top: 250px;
  }
  .robot__speak {
    position: absolute;
    top: 80px;
  }
}
@media (min-width: 524px) {
  .robot {
    position: absolute;
    top: 250px;
    left: 100px;
  }
  .robot__speak {
    position: absolute;
    top: 80px;
    left: 150px;
  }
  .robot__speak--bubble {
    position: absolute;
    top: 135px;
    left: 150px;
  }
  .robot__speak--bubble1 {
    position: absolute;
    top: 140px;
    left: 130px;
  }
}
@media (min-width: 600px) {
  .robot {
    width: 5%;
    position: absolute;
    top: 270px;
  }
  .robot__speak span {
    font-size: 1.3rem;
  }
  .robot__speak--bubble {
    position: absolute;
    top: 175px;
    left: 150px;
  }
  .robot__speak--bubble1 {
    position: absolute;
    top: 180px;
    left: 130px;
  }
}
@media (min-width: 681px) {
  .robot {
    position: absolute;
    left: 100px;
  }
  .robot__speak--bubble {
    position: absolute;
    top: 150px;
    left: 180px;
  }
  .robot__speak--bubble1 {
    position: absolute;
    top: 150px;
    left: 160px;
  }
}
@media (min-width: 1032px) {
  .robot__speak {
    width: 70vw;
  }
  .robot__speak span {
    font-size: 1.8rem;
  }
}
@media (min-width: 1170px) {
  .robot {
    width: 3.7%;
    position: absolute;
    top: 260px;
    left: 130px;
  }
  .robot__speak--bubble {
    position: absolute;
    top: 145px;
    left: 200px;
  }
  .robot__speak--bubble1 {
    position: absolute;
    top: 145px;
    left: 180px;
  }
}
@media (min-width: 1400px) {
  .robot {
    position: absolute;
    top: 280px;
  }
  .robot__speak--bubble {
    position: absolute;
    left: 220px;
  }
  .robot__speak--bubble1 {
    position: absolute;
    left: 200px;
  }
}
@media (min-width: 1550px) {
  .robot__speak {
    width: 80vw;
    max-width: 1418px;
  }
}
@media (min-width: 1756px) {
  .robot__speak--bubble {
    position: absolute;
    top: 110px;
    left: 220px;
  }
  .robot__speak--bubble1 {
    position: absolute;
    top: 110px;
    left: 200px;
  }
}
@keyframes transf-color {
  0% {
    color: black;
  }
  25% {
    color: #524f4f;
  }
  50% {
    color: #524f4f;
  }
  75% {
    color: #524f4f;
  }
  90% {
    color: #524f4f;
  }
  100% {
    color: black;
  }
}
.intro__title {
  animation-name: transf-color;
  animation-duration: 8s;
  animation-timing-function: linear;
}

.intro__body {
  animation-name: transf-color;
  animation-duration: 8s;
  animation-timing-function: linear;
}

select {
  border: 1px solid black;
  padding: 4px;
  width: 20px;
}

main {
  padding: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h4 {
  font-size: 1.1rem;
}

p {
  font-size: 0.8rem;
}

.intro__body {
  font-size: 1rem;
}

.intro2__body {
  font-size: 1rem;
}

span {
  font-size: 0.9rem;
}

@media (min-width: 1024px) {
  main {
    padding: 3vw;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .intro__body {
    font-size: 1.5rem;
  }
  .intro2__body {
    font-size: 1.5rem;
  }
  span {
    font-size: 1.1rem;
  }
}
.section__intro {
  padding: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vw;
}

.intro {
  text-align: center;
}

.intro__img {
  width: 50vw;
}

@media (min-width: 1024px) {
  .section__intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .intro {
    width: 40vw;
    text-align: start;
  }
  .intro__img {
    width: 30vw;
  }
}
.section__intro2 {
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 5vw;
}

.intro2 {
  text-align: center;
}

.intro2__img {
  height: 50vw;
}

@media (min-width: 1024px) {
  .section__intro2 {
    display: flex;
    flex-direction: row-reverse;
  }
  .intro2 {
    text-align: end;
  }
  .intro2__img {
    height: 35vw;
  }
}
.articles__title {
  text-align: center;
  padding-top: 25px;
}

.articles__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.body1 article {
  background-color: white;
  margin-top: 20px;
  border: black solid 1.5px;
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
}
.body1 article:hover {
  border: #45e052 solid 1.5px;
  box-shadow: 1px 1px 15px 5px #45e052;
}
.body1 article .body1__highlighted {
  padding: 3vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}
.body1 .body1__img {
  width: 85vw;
}
.body1 .body1__img2 {
  width: 85vw;
}
.body1 .body1__img3 {
  width: 85vw;
}
.body1 .body1__img4 {
  width: 85vw;
}

@media (min-width: 876px) {
  .body1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body1 article {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .body1 article .body1__highlighted {
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    padding: 1vw;
  }
  .body1 .body1__img {
    width: 25vw;
  }
  .body1 .body1__img2 {
    width: 25vw;
  }
  .body1 .body1__img3 {
    width: 25vw;
  }
  .body1 .body1__img4 {
    width: 25vw;
  }
}
@media (min-width: 1024px) {
  .body1__highlighted h4 {
    font-size: 1.1rem;
  }
  .body1__highlighted span {
    font-size: 0.9rem;
  }
  .body1__highlighted p {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  .articles__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
  }
  .body1__highlighted h4 {
    font-size: 1rem;
  }
}
@media (min-width: 1208px) {
  .body1__highlighted h4 {
    font-size: 1.1rem;
  }
}
@media (min-width: 1400px) {
  .articles__body .body1__highlighted h4 {
    font-size: 1.25rem;
  }
  .articles__body .body1__highlighted span {
    font-size: 1.1rem;
  }
  .articles__body .body1__highlighted p {
    font-size: 0.9rem;
  }
}
@media (min-width: 1600px) {
  .articles__body .body1__highlighted h4 {
    font-size: 1.4rem;
  }
  .articles__body .body1__highlighted span {
    font-size: 1.2rem;
  }
  .articles__body .body1__highlighted p {
    font-size: 1.1rem;
  }
}
.body2 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.body2__latest-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}

.latest-articles {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  gap: 2vw;
  width: 80vw;
  height: 100vw;
  padding: 4vw;
  border-radius: 10px;
  box-shadow: -5px -5px 15px black;
}

@media (min-width: 521px) {
  .latest-articles {
    height: 90vw;
  }
}
.latest-articles__comment {
  font-size: 1rem;
  width: 75vw;
}

@media (min-width: 600px) {
  .latest-articles__comment {
    font-size: 1.2rem;
  }
}
.latest-articles__carousel {
  height: 75vw;
  width: 75vw;
  display: flex;
  justify-content: center;
  border: black 1px solid;
}

.latest-articles__item {
  height: 75vw;
  width: 75vw;
  background-image: url(../img/articulos/art-reciclar-mitos.jpg);
  background-position: center;
  background-size: cover;
}

.latest-articles__item2 {
  height: 75vw;
  width: 75vw;
  color: white;
  background-image: url(../img/articulos/art-navegacion-segura.jpg);
  background-position: center;
  background-size: cover;
}

.latest-articles__item3 {
  height: 75vw;
  width: 75vw;
  background-image: url(../img/articulos/art-serpiente-venenosa.jpg);
  background-position: left;
  background-size: cover;
}

.latest-articles__item4 {
  height: 75vw;
  width: 75vw;
  color: white;
  background-image: url(../img/articulos/art-contaminacion-de-la-atmosfera.jpg);
  background-position: right;
  background-size: cover;
}

.latest-articles__item5 {
  height: 75vw;
  width: 75vw;
  color: white;
  background-image: url(../img/articulos/art-deep-web-y-dark-web.jpg);
  background-position: right;
  background-size: cover;
}

.item__text, .item__text3 {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-align: start;
  height: 70vw;
  width: 70vw;
}

.item__text2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-align: start;
  height: 70vw;
  width: 70vw;
}

.item__text4, .item__text5 {
  position: absolute;
  bottom: 10px;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  text-align: start;
  height: 70vw;
  width: 70vw;
}

.slideshow-container {
  position: relative;
  z-index: 1;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 876px) {
  .body2 {
    display: flex;
    flex-direction: row;
  }
  .latest-articles {
    width: 40vw;
    height: 50vw;
    padding: 2.5vw;
  }
  .latest-articles__comment {
    font-size: 1rem;
    width: 42vw;
  }
  .latest-articles__carousel {
    height: 40vw;
    width: 40vw;
  }
  .latest-articles__item {
    height: 40vw;
    width: 40vw;
  }
  .latest-articles__item2 {
    height: 40vw;
    width: 40vw;
  }
  .latest-articles__item3 {
    height: 40vw;
    width: 40vw;
  }
  .latest-articles__item4 {
    height: 40vw;
    width: 40vw;
  }
  .latest-articles__item5 {
    height: 40vw;
    width: 40vw;
  }
  .item__text, .item__text3 {
    height: 30vw;
    width: 30vw;
  }
  .item__text2 {
    height: 30vw;
    width: 30vw;
  }
  .item__text3 {
    height: 30vw;
    width: 30vw;
  }
  .item__text4, .item__text5 {
    height: 30vw;
    width: 30vw;
  }
  .item__text5 {
    height: 30vw;
    width: 30vw;
  }
  .prev,
  .next {
    padding: 10px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    gap: 1vw;
  }
  .latest-articles {
    width: 32vw;
    height: 40vw;
    padding: 2.5vw;
    margin-left: 0;
  }
  .latest-articles__comment {
    font-size: 1rem;
    width: 34vw;
  }
  .latest-articles__carousel {
    height: 32vw;
    width: 32vw;
  }
  .latest-articles__item {
    height: 32vw;
    width: 32vw;
  }
  .latest-articles__item2 {
    height: 32vw;
    width: 32vw;
  }
  .latest-articles__item3 {
    height: 32vw;
    width: 32vw;
  }
  .latest-articles__item4 {
    height: 32vw;
    width: 32vw;
  }
  .latest-articles__item5 {
    height: 32vw;
    width: 32vw;
  }
  .item__text, .item__text3 {
    height: 25vw;
    width: 25vw;
  }
  .item__text2 {
    height: 25vw;
    width: 25vw;
  }
  .item__text3 {
    height: 25vw;
    width: 25vw;
  }
  .item__text4, .item__text5 {
    height: 25vw;
    width: 25vw;
  }
  .item__text5 {
    height: 25vw;
    width: 25vw;
  }
}
@media (min-width: 1400px) {
  .latest-articles__comment {
    font-size: 1.4rem;
  }
}
.body2__our-articles {
  border-radius: 10px;
  box-shadow: -5px -5px 15px black;
  display: flex;
  flex-direction: column;
}
.body2__our-articles .our-articles__title {
  font-size: 1.5rem;
  padding-top: 4vw;
}
.body2__our-articles .our-articles__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  padding: 2vw;
}
.body2__our-articles .our-articles__body p {
  font-size: 0.8rem;
}
.body2__our-articles .our-articles__body p a {
  color: blue;
  text-decoration: underline;
}
.body2__our-articles .our-articles__body .our-articles__img {
  width: 30vw;
}

@media (min-width: 482px) {
  .body2__our-articles .our-articles__body p {
    font-size: 1.2rem;
  }
}
@media (min-width: 574px) {
  .body2__our-articles .our-articles__title {
    font-size: 2.2rem;
  }
  .body2__our-articles .our-articles__body p {
    font-size: 1.4rem;
  }
}
@media (min-width: 665px) {
  .body2__our-articles .our-articles__title {
    font-size: 3rem;
  }
  .body2__our-articles .our-articles__body p {
    font-size: 1.6rem;
  }
}
@media (min-width: 876px) {
  .body2__our-articles {
    height: min-content;
    width: 40vw;
    height: 51vw;
    margin-top: 30px;
    padding: 20px;
  }
  .body2__our-articles .our-articles__title {
    font-size: 2rem;
    padding-top: 1vw;
  }
  .body2__our-articles .our-articles__body {
    display: flex;
    flex-direction: column;
  }
  .body2__our-articles .our-articles__body p {
    font-size: 1.5rem;
  }
  .body2__our-articles .our-articles__body .our-articles__img {
    width: 25vw;
  }
}
@media (min-width: 1024px) {
  .body2__our-articles .our-articles__title {
    font-size: 2.5rem;
  }
  .body2__our-articles .our-articles__body p {
    font-size: 1.6rem;
  }
}
@media (min-width: 1200px) {
  .body2__our-articles {
    height: min-content;
    width: 34vw;
  }
  .body2__our-articles .our-articles__title {
    font-size: 2rem;
  }
  .body2__our-articles .our-articles__body {
    display: flex;
    flex-direction: row;
  }
  .body2__our-articles .our-articles__body p {
    font-size: 1rem;
  }
  .body2__our-articles .our-articles__body .our-articles__img {
    width: 15vw;
  }
}
@media (min-width: 1400px) {
  .body2__our-articles .our-articles__title {
    font-size: 2.5rem;
  }
  .body2__our-articles .our-articles__body p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1600px) {
  .body2__our-articles .our-articles__title {
    font-size: 3rem;
  }
  .body2__our-articles .our-articles__body p {
    font-size: 1.6rem;
  }
}
.section__our-talks {
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: -5px -5px 15px black;
}

.our-talks__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.our-talks__body {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.our-talks__body div {
  width: 80vw;
  text-align: center;
}
.our-talks__body div p {
  font-size: 1rem;
}
.our-talks__body div p a {
  color: blue;
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .our-talks__body div p {
    font-size: 1.5rem;
  }
}
.recent-articles {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recent-articles h2 {
  text-align: center;
}
.recent-articles a article {
  margin-top: 20px;
  text-align: center;
  width: 80vw;
  border: 1.5px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-articles a article:hover {
  border: #45e052 solid 1.5px;
  box-shadow: 5px 5px 10px #45e052;
}
.recent-articles a article div {
  padding: 10px;
}
.recent-articles a article div h3 {
  font-size: 1.2rem;
}
.recent-articles a article img {
  width: 80vw;
}

@media (min-width: 876px) {
  .recent-articles {
    margin-top: 50px;
  }
  .recent-articles .recent-articles__body {
    display: grid;
    grid-template-columns: 40vw 40vw;
    gap: 40px;
  }
  .recent-articles .recent-articles__body a article {
    width: 40vw;
  }
  .recent-articles .recent-articles__body a article div {
    padding: 20px;
  }
  .recent-articles .recent-articles__body a article div h3 {
    font-size: 1.5rem;
  }
  .recent-articles .recent-articles__body a article div p {
    font-size: 1.2rem;
  }
  .recent-articles .recent-articles__body a article div span {
    font-size: 1.3rem;
  }
  .recent-articles .recent-articles__body a article img {
    width: 40vw;
  }
}
@media (min-width: 1200px) {
  .recent-articles .recent-articles__body {
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 25px;
  }
  .recent-articles .recent-articles__body a article {
    width: 30vw;
  }
  .recent-articles .recent-articles__body a article div img {
    width: 30vw;
  }
}
@media (min-width: 1600px) {
  .recent-articles .recent-articles__body {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
  }
  .recent-articles .recent-articles__body a article {
    width: 20vw;
  }
  .recent-articles .recent-articles__body a article div img {
    width: 20vw;
  }
}
.section__articles {
  margin-top: 30px;
  text-align: center;
}
.section__articles aside span a {
  color: blue;
  text-decoration: underline;
}
.section__articles aside div {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__articles aside div a article {
  margin-top: 20px;
  width: 80vw;
  border: 1.5px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  text-align: center;
}
.section__articles aside div a article:hover {
  border: #45e052 solid 1.5px;
  box-shadow: 5px 5px 10px #45e052;
}
.section__articles aside div a article div {
  padding: 10px;
}
.section__articles aside div a article div h5 {
  font-size: 1.5rem;
}
.section__articles aside div a article img {
  width: 80vw;
}

@media (min-width: 876px) {
  .section__articles {
    margin-top: 40px;
  }
  .section__articles aside div div {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .section__articles aside div div a article {
    width: 20vw;
    text-align: center;
  }
  .section__articles aside div div a article div {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .section__articles aside div div a article div h5 {
    font-size: 1.5rem;
  }
  .section__articles aside div div a article img {
    width: 20vw;
  }
}
.articulos__section {
  margin-top: 40px;
  align-items: center;
  text-align: center;
}
.articulos__section .articles__separation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vw;
}
.articulos__section .articles__separation .separation__cs-formales {
  margin-top: 5vw;
}
.articulos__section .articles__separation .separation__cs-formales ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.articulos__section .articles__separation .separation__cs-facticas ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.articulos__section div ul li {
  width: 60vw;
  height: 60vw;
  padding: 2vw;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}
.articulos__section div ul li:hover {
  border: 2px solid #45e052;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #45e052;
}

.ciencias-mat {
  background-image: url(../img/articulos/ciencias-mat.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.ciencias-cp {
  background-image: url(../img/articulos/ciencias-cp.jpg);
  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: center;
}

.ciencias-nat {
  background-image: url(../img/articulos/ciencias-nat.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

.ciencias-soc {
  background-image: url(../img/articulos/ciencias-soc.jpg);
  background-size: cover;
  display: flex;
  align-items: end;
  justify-content: center;
}

@media (min-width: 876px) {
  .articulos__section {
    margin-top: 50px;
    align-items: center;
    text-align: center;
  }
  .articulos__section h2 {
    font-size: 2.5rem;
  }
  .articulos__section h3 {
    font-size: 2rem;
  }
  .articulos__section .articles__separation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vw;
  }
  .articulos__section .articles__separation .separation__cs-formales {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .articulos__section .articles__separation .separation__cs-formales ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .articulos__section .articles__separation .separation__cs-facticas {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .articulos__section .articles__separation .separation__cs-facticas ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .articulos__section div ul li {
    width: 30vw;
    height: 30vw;
  }
  .articulos__section div ul li h4 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .articulos__section {
    margin-top: 0;
    margin-top: 4vw;
  }
  .articulos__section div ul li {
    width: 30vw;
    height: 30vw;
    padding: 2vw;
  }
  .articulos__section div ul {
    gap: 5vw;
  }
}
@media (min-width: 1400px) {
  .articulos__section {
    margin-top: 2vw;
  }
  .articulos__section .articles__separation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .articulos__section .articles__separation .separation__cs-formales {
    margin-top: 0;
  }
  .articulos__section .articles__separation .separation__cs-facticas {
    margin-right: 1vw;
  }
  .articulos__section .articles__separation ul {
    gap: 2vw;
  }
  .articulos__section .articles__separation ul li {
    width: 17vw;
    height: 17vw;
  }
}
.eventos__intro {
  margin-top: 30px;
  text-align: center;
}
.eventos__intro h2 {
  font-size: 1.5rem;
}
.eventos__intro p {
  font-size: 1rem;
  margin-top: 2px;
}

div svg {
  width: 30vw;
  height: 30vw;
}

.eventos__body {
  text-align: center;
  margin-top: 30px;
}
.eventos__body h3 {
  font-size: 1.5rem;
}
.eventos__body p {
  font-size: 1rem;
  margin-top: 2px;
}
.eventos__body h4 {
  margin-top: 10px;
}
.eventos__body ul li {
  text-align: start;
  padding: 10px;
  border: 1px solid black;
  border-radius: 30px;
  box-shadow: -2px 2px 10px black;
  margin-top: 15px;
}
.eventos__body ul li p {
  font-size: 0.9rem;
}
.eventos__body ul li span {
  font-size: 0.8rem;
}
.eventos__body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.eventos__body form input {
  width: 150px;
}
.eventos__body form select {
  width: 154px;
  padding: 1.5px;
  border: solid 1px gray;
  background-color: white;
  border-radius: 2px;
}
.eventos__body form .btn {
  width: 50px;
}

.view-more {
  display: none;
}

@media (min-width: 876px) {
  .eventos__intro {
    margin-top: 50px;
    padding: 30px;
    text-align: start;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .eventos__intro h2 {
    font-size: 1.8rem;
  }
  .eventos__intro p {
    font-size: 1.4rem;
  }
  div svg {
    width: 200px;
    height: 200px;
  }
  .eventos__body {
    margin-top: 15px;
  }
  .eventos__body h3 {
    font-size: 1.8rem;
  }
  .eventos__body p {
    font-size: 1.4rem;
  }
  .eventos__body h4 {
    font-size: 1.4rem;
    margin-top: 15px;
  }
  .eventos__body .body__eventos-form {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
  }
  .eventos__body ul li p {
    font-size: 1rem;
  }
  .eventos__body ul li span {
    font-size: 0.9rem;
  }
  .eventos__body form input {
    width: 150px;
    font-size: 0.9rem;
  }
  .eventos__body form select {
    font-size: 0.9rem;
  }
  .eventos__body form .btn {
    font-size: 0.9rem;
  }
}
@media (min-width: 1200px) {
  .eventos__intro h2 {
    font-size: 2.2rem;
  }
  .eventos__intro p {
    font-size: 1.6rem;
  }
  .eventos__body {
    margin-top: 15px;
  }
  .eventos__body h3 {
    font-size: 2.2rem;
  }
  .eventos__body p {
    font-size: 1.6rem;
  }
  .eventos__body h4 {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .eventos__body .body__eventos-form {
    gap: 30px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .eventos__body ul li p {
    font-size: 1.1rem;
  }
  .eventos__body ul li span {
    font-size: 1rem;
  }
  .eventos__body form input {
    width: 200px;
    font-size: 1rem;
  }
  .eventos__body form select {
    font-size: 1rem;
    width: 204px;
  }
  .eventos__body form .btn {
    font-size: 1rem;
  }
  .info {
    display: none;
  }
  .view-more {
    display: inline;
    color: blue;
    cursor: pointer;
  }
  .view-more:hover .info {
    display: block;
    color: black;
  }
}
@media (min-width: 1400px) {
  .eventos__intro h2 {
    font-size: 2.3rem;
  }
  .eventos__intro p {
    font-size: 2rem;
  }
  div svg {
    width: 300px;
    height: 300px;
  }
  .eventos__body h3 {
    font-size: 2.3rem;
  }
  .eventos__body p {
    font-size: 2rem;
  }
  .eventos__body h4 {
    font-size: 1.8rem;
  }
  .eventos__body .body__eventos-form ul li p {
    font-size: 1.3rem;
  }
  .eventos__body .body__eventos-form ul li span {
    font-size: 1.2rem;
  }
  .eventos__body .body__eventos-form form input {
    width: 300px;
    font-size: 1.2rem;
  }
  .eventos__body .body__eventos-form form select {
    font-size: 1.2rem;
    width: 304.5px;
  }
  .eventos__body .body__eventos-form form .btn {
    font-size: 1.2rem;
    width: 100px;
  }
}
.section__quienes-somos {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url(../img/bkgr-impar.png);
  background-size: 600px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px black;
}
.section__quienes-somos h2 {
  font-size: 2rem;
}
.section__quienes-somos p {
  font-size: 1.1rem;
}

.section__que-buscamos {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px black;
  background-image: url(../img/bkgr-par.png);
  background-size: 400px;
}
.section__que-buscamos h3 {
  font-size: 2rem;
}
.section__que-buscamos p {
  font-size: 1.1rem;
}

.section__nosotros {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url(../img/bkgr-impar.png);
  background-size: 600px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px black;
}
.section__nosotros h4 {
  font-size: 1.5rem;
}
.section__nosotros p {
  font-size: 1rem;
}

.nosotros__nuestra-vision {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros__nuestra-vision div svg {
  width: 35vw;
  height: 35vw;
}

.nosotros__nuestra-mision {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.nosotros__nuestra-mision div svg {
  width: 35vw;
  height: 35vw;
}

.nosotros__nuestros-valores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotros__nuestros-valores div svg {
  width: 35vw;
  height: 35vw;
}

.section__incorporacion {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px black;
  background-image: url(../img/bkgr-par.png);
  background-size: 400px;
}
.section__incorporacion h2 {
  font-size: 2rem;
}
.section__incorporacion p {
  font-size: 1.1rem;
}

@media (min-width: 876px) {
  .section__quienes-somos {
    margin-top: 70px;
    text-align: start;
  }
  .section__quienes-somos p {
    font-size: 1.5rem;
  }
  .section__que-buscamos {
    margin-top: 70px;
    text-align: end;
    align-items: end;
  }
  .section__que-buscamos p {
    font-size: 1.5rem;
  }
  .section__nosotros {
    margin-top: 70px;
  }
  .section__nosotros h4 {
    font-size: 1.9rem;
  }
  .section__nosotros p {
    font-size: 1.4rem;
  }
  .nosotros__nuestra-vision {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
  }
  .nosotros__nuestra-vision div {
    padding: 20px;
  }
  .nosotros__nuestra-vision div svg {
    width: 35vw;
    height: 35vw;
  }
  .nosotros__nuestra-mision {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: end;
    gap: 20px;
  }
  .nosotros__nuestra-mision div {
    padding: 20px;
  }
  .nosotros__nuestra-mision div svg {
    width: 35vw;
    height: 35vw;
  }
  .nosotros__nuestros-valores {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: start;
  }
  .nosotros__nuestros-valores div {
    padding: 20px;
  }
  .nosotros__nuestros-valores div svg {
    width: 35vw;
    height: 35vw;
  }
  .section__incorporacion {
    margin-top: 50px;
    padding: 20px;
  }
  .section__incorporacion h2 {
    font-size: 2rem;
  }
  .section__incorporacion p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .section__quienes-somos h2 {
    font-size: 2.5rem;
  }
  .section__quienes-somos p {
    font-size: 2rem;
  }
  .section__que-buscamos h3 {
    font-size: 2.5rem;
  }
  .section__que-buscamos p {
    font-size: 2rem;
  }
  .section__nosotros {
    padding-left: 80px;
    padding-right: 80px;
  }
  .section__nosotros h4 {
    font-size: 2.3rem;
  }
  .section__nosotros p {
    font-size: 1.8rem;
  }
  .section__nosotros div div svg {
    width: 18vw;
    height: 18vw;
  }
  .section__incorporacion h2 {
    font-size: 2.5rem;
  }
  .section__incorporacion p {
    font-size: 2rem;
  }
}
.article__muestra {
  margin-top: 40px;
}

.muestra__body {
  margin-top: 15px;
}

.muestra__img {
  width: 100%;
  margin-top: 15px;
}

@media (min-width: 876px) {
  .article__muestra {
    margin-top: 50px;
  }
  .article__muestra h2 {
    font-size: 3rem;
  }
  .article__muestra span {
    font-size: 1.5rem;
  }
  .muestra__body {
    margin-top: 20px;
  }
  .muestra__body p {
    font-size: 1.2rem;
  }
  .muestra__img {
    margin-top: 25px;
    margin-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .muestra__img {
    width: 970px;
  }
  .muestra__img1 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.recent-articles__title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.recent-articles__title-r {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.8rem;
  gap: 10px;
}
.recent-articles__title-r form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.recent-articles__title-r form button svg {
  width: 15px;
  height: 15px;
}
.recent-articles__title-r div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}

@media (min-width: 600px) {
  .recent-articles__title-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
  }
  .recent-articles__title-r div {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
@media (min-width: 876px) {
  .recent-articles__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
  }
  .recent-articles__title-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    font-size: 1rem;
    gap: 0px;
  }
  .recent-articles__title-r div {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
@media (min-width: 1024px) {
  .recent-articles__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
  }
  .recent-articles__title-r {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    width: 30%;
    font-size: 1.2rem;
    gap: 0px;
  }
  .recent-articles__title-r div {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}

/*# sourceMappingURL=style.css.map */
